Repository kakashi3lite/Encorely, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @GrandMasteriOSBuilder, @ai-team, @performance-team, @data-team, @musickit-team, @ui-team, @devops-team, @docs-team, @qa-team, @security-team, @release-team

.github/CODEOWNERS:

# Global owners - require approval for all changes
* @core-team @GrandMasteriOSBuilder

# AI/ML specific components
/Services/AI* @ai-team @GrandMasteriOSBuilder
/Services/*Engine.swift @ai-team @GrandMasteriOSBuilder
/Models/*.mlmodel @ai-team @GrandMasteriOSBuilder
/Modules/AIModule/ @ai-team @GrandMasteriOSBuilder
/Sources/AIMixtapes/Services/AI* @ai-team @GrandMasteriOSBuilder
/Sources/App/Services/AI* @ai-team @GrandMasteriOSBuilder

# Performance critical components
/Services/Audio* @performance-team @GrandMasteriOSBuilder
/Services/Performance* @performance-team @GrandMasteriOSBuilder
/Models/AudioBuffer* @performance-team @GrandMasteriOSBuilder
/Models/ManagedAudioBuffer.swift @performance-team @GrandMasteriOSBuilder
/Modules/AudioAnalysisModule/ @performance-team @GrandMasteriOSBuilder
/Sources/AIMixtapes/AudioProcessor.swift @performance-team @GrandMasteriOSBuilder

# Core Data and data models
/*.xcdatamodeld/ @data-team @GrandMasteriOSBuilder
/Models/MixTape* @data-team @GrandMasteriOSBuilder
/Models/Song* @data-team @GrandMasteriOSBuilder
/Modules/CoreDataModule/ @data-team @GrandMasteriOSBuilder
/Sources/App/CoreData/ @data-team @GrandMasteriOSBuilder

# MusicKit integration
/Modules/MusicKitModule/ @musickit-team @GrandMasteriOSBuilder
/Services/*MusicKit* @musickit-team @GrandMasteriOSBuilder
/Sources/AIMixtapes/Services/*MusicKit* @musickit-team @GrandMasteriOSBuilder

# UI/UX components
/Views/ @ui-team @GrandMasteriOSBuilder
/Sources/AIMixtapes/Views/ @ui-team @GrandMasteriOSBuilder
/Sources/App/Components/ @ui-team @GrandMasteriOSBuilder
/Assets.xcassets/ @ui-team @GrandMasteriOSBuilder

# Configuration and build system
/Config/ @devops-team @GrandMasteriOSBuilder
/*.xcconfig @devops-team @GrandMasteriOSBuilder
/project.yml @devops-team @GrandMasteriOSBuilder
/Package.swift @devops-team @GrandMasteriOSBuilder
/fastlane/ @devops-team @GrandMasteriOSBuilder
/.github/workflows/ @devops-team @GrandMasteriOSBuilder

# Documentation
/Documentation/ @docs-team @GrandMasteriOSBuilder
/README*.md @docs-team @GrandMasteriOSBuilder
/CHANGELOG.md @docs-team @GrandMasteriOSBuilder
/CONTRIBUTING.md @docs-team @GrandMasteriOSBuilder
/Docs/ @docs-team @GrandMasteriOSBuilder

# Testing infrastructure
/Tests/ @qa-team @GrandMasteriOSBuilder
/*.xctestplan @qa-team @GrandMasteriOSBuilder
/scripts/ @qa-team @devops-team @GrandMasteriOSBuilder

# Security sensitive files
/.github/workflows/security.yml @security-team @GrandMasteriOSBuilder
/.github/dependabot.yml @security-team @devops-team @GrandMasteriOSBuilder
/AI-Mixtapes.entitlements @security-team @GrandMasteriOSBuilder

# Release and deployment
/Release.xcconfig @release-team @GrandMasteriOSBuilder
/CHANGELOG.md @release-team @docs-team @GrandMasteriOSBuilder
/fastlane/Fastfile @release-team @devops-team @GrandMasteriOSBuilder

style: improve code quality and formatting
  .swift-version
  Package.swift
  Sources/AudioKitEncorely/DSP/RMS.swift
  Sources/AudioKitEncorely/Session/AudioSessionManager.swift
  Sources/GlassUI/GlassCard.swift
  Tests/AudioKitEncorelyTests/RMSTests.swift
Owners: @core-team, @GrandMasteriOSBuilder, @devops-team, @qa-team

docs: add code quality documentation and configuration
  .swiftformat
  .swiftlint.yml
  README.md
Owners: @core-team, @GrandMasteriOSBuilder, @docs-team

docs: add comprehensive documentation to public APIs
  Sources/AudioKitEncorely/DSP/RMS.swift
  Sources/AudioKitEncorely/Session/AudioSessionManager.swift
Owners: @core-team, @GrandMasteriOSBuilder

feat: implement AI-enhanced protocol extensions for MixTape and Song models
  Sources/AIMixtapes/Models/CoreDataProtocols.swift
  Sources/AIMixtapes/Models/MixTapeModels.swift
Owners: @core-team, @GrandMasteriOSBuilder

chore: sync updates (bypass lint)
  Sources/AIMixtapes/Models/CoreDataProtocols.swift
  Sources/AIMixtapes/Models/MixTapeModels.swift
  Sources/App/Consolidated/AppDelegate.swift
  Sources/App/Consolidated/MixTapeView.swift
  Sources/App/Consolidated/MoodEngine.swift
  Sources/App/Consolidated/PerformanceValidator.swift
  Sources/App/Consolidated/SceneDelegate.swift
Owners: @core-team, @GrandMasteriOSBuilder

feat(design-system): add Noir glassmorphism DesignSystem (NoirPalette, NoirGlass, components)
  Package.swift
  Packages/DesignSystem/Sources/DesignSystem/NoirColors.swift
  Packages/DesignSystem/Sources/DesignSystem/NoirComponents.swift
  Packages/DesignSystem/Sources/DesignSystem/NoirGlass.swift
  Packages/DesignSystem/Tests/DesignSystemTests/DesignSystemTests.swift
Owners: @devops-team, @GrandMasteriOSBuilder, @core-team

feat(encore): add EncoreModeView, sensor fusion, external mood hint API
  Sources/App/Consolidated/EncoreModeView.swift
  Sources/App/Consolidated/MoodEngine.swift
  Sources/App/Consolidated/SensorFusionService.swift
Owners: @core-team, @GrandMasteriOSBuilder

style(noir): apply Noir glass design to MixTapeView sections
  Sources/App/Consolidated/MixTapeView.swift
Owners: @core-team, @GrandMasteriOSBuilder

style(noir): apply Noir glass treatment to PlayerView
  Sources/App/Consolidated/PlayerView.swift
Owners: @core-team, @GrandMasteriOSBuilder

chore(lint): add SwiftLint baseline for incremental cleanup
  .swiftlint-baseline.yml
  .swiftlint.yml
Owners: @core-team, @GrandMasteriOSBuilder

refactor(lint): remove force casts and implicitly unwrapped optionals
  Sources/App/Consolidated/AppDelegate.swift
  Sources/App/Consolidated/MixtapesApp.swift
  Sources/App/Consolidated/SceneDelegate.swift
Owners: @core-team, @GrandMasteriOSBuilder

chore(lint): incremental staged lint strategy + baseline generator script (bypass)
  .swiftlint-baseline.yml
  README.md
  Scripts/generate_swiftlint_baseline.sh
  Sources/App/Consolidated/AppDelegate.swift
  Sources/App/Consolidated/ContentView.swift
  Sources/App/Consolidated/EncoreModeView.swift
  Sources/App/Consolidated/MixTapeView.swift
  Sources/App/Consolidated/MixtapesApp.swift
  Sources/App/Consolidated/MoodEngine.swift
  Sources/App/Consolidated/PagerView.swift
  Sources/App/Consolidated/PerformanceValidationModels.swift
  Sources/App/Consolidated/PerformanceValidator.swift
  Sources/App/Consolidated/PlayerView.swift
  Sources/App/Consolidated/SensorFusionService.swift
Owners: @core-team, @GrandMasteriOSBuilder, @docs-team

chore(lint): ignore temp swiftlint baseline artifact
  .gitignore
Owners: @core-team, @GrandMasteriOSBuilder

refactor(mood): decompose MoodEngine into model/detection/state extensions + incremental CI lint gating
  .github/workflows/quality.yml
  Sources/App/Consolidated/MoodEngine+Detection.swift
  Sources/App/Consolidated/MoodEngine+Model.swift
  Sources/App/Consolidated/MoodEngine+State.swift
  Sources/App/Consolidated/MoodEngine.swift
Owners: @devops-team, @GrandMasteriOSBuilder, @core-team

refactor: clean up project structure and remove redundant files
  App/Info.plist
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PRIVACY.md
  Package.swift
  SECURITY.md
  Tests/GlassUITests/GlassCardTests.swift
Owners: @core-team, @GrandMasteriOSBuilder, @docs-team, @devops-team, @qa-team

🚀 CHAMPIONSHIP-LEVEL AUDIO APP - PRODUCTION READY
  App/ContentView.swift
  Encorely.xcodeproj/project.pbxproj
  README.md
  Sources/AudioKitEncorely/AI/AudioEnhancer.swift
  Sources/AudioKitEncorely/AudioVisualizer.swift
  Sources/AudioKitEncorely/Cloud/CloudSync.swift
  Sources/AudioKitEncorely/DSP/RMS.swift
  Sources/AudioKitEncorely/Export/AudioExporter.swift
  Sources/AudioKitEncorely/Recording/AudioRecorder.swift
  Sources/AudioKitEncorely/Session/AudioSessionManager.swift
  Sources/AudioKitEncorely/Social/SocialSharing.swift
  Sources/GlassUI/GlassCard.swift
  Sources/GlassUI/UIComponents.swift
  Tests/AudioKitEncorelyTests/AudioVisualizerTests.swift
  Tests/AudioKitEncorelyTests/DSPEdgeCaseTests.swift
  Tests/GlassUITests/UIComponentTests.swift
  project.yml
Owners: @core-team, @GrandMasteriOSBuilder, @docs-team, @qa-team, @devops-team

🏆 PRODUCTION-READY CHAMPIONSHIP AUDIO APP - ENTERPRISE GRADE
  README.md
  Sources/AudioKitEncorely/AudioVisualizer.swift
  Sources/AudioKitEncorely/Cloud/CloudSync.swift
  Sources/AudioKitEncorely/Logging/Logger.swift
  Sources/AudioKitEncorely/Recording/AudioRecorder.swift
  Sources/AudioKitEncorely/Session/AudioSessionManager.swift
  Sources/GlassUI/UIComponents.swift
Owners: @docs-team, @GrandMasteriOSBuilder, @core-team

fix(spm): remove invalid DomainTests target path to allow package resolution
  Sources/Domain/Package.swift
Owners: @core-team, @GrandMasteriOSBuilder

docs: add CODE_CONTEXT, ARCHITECTURE, and DEV_NOTES to speed AI-assisted dev
  Docs/ARCHITECTURE.md
  Docs/CODE_CONTEXT.md
  Docs/DEV_NOTES.md
Owners: @docs-team, @GrandMasteriOSBuilder

chore(docs): add Cursor rules, Areas map, and AI guide to reduce context size
  .cursorrules
  Docs/AI_GUIDE.md
  Docs/AREAS.json
Owners: @core-team, @GrandMasteriOSBuilder, @docs-team

chore(xcode): align project with Xcode 26 / Swift 6 (tools 6.0, SWIFT_VERSION=6.0, .xcode-version)
  .swift-version
  .xcode-version
  Base.xcconfig
  Package.swift
  Sources/Domain/Package.swift
Owners: @core-team, @GrandMasteriOSBuilder, @devops-team

ci: add Swift 6 CI with SPM/Xcode caching, paths-ignore, and concurrency; tune existing workflows for context-saving
  .github/workflows/ci.yml
  .github/workflows/documentation.yml
  .github/workflows/swift.yml
  .github/workflows/swift6-ci.yml
  .github/workflows/tests.yml
Owners: @devops-team, @GrandMasteriOSBuilder

Glassmorphism UI context
  Docs/GLASSMORPHISM_DESIGN_CONTEXT.md
Owners: @docs-team, @GrandMasteriOSBuilder

docs: elegant, detailed README with references to architecture and dev docs
  README.md
Owners: @docs-team, @GrandMasteriOSBuilder
